nav {
    background-color: rgba(240, 128, 128, 0.4);
    width: 30%;
    position: fixed;
}
nav > span:hover {
    color: rgb(158, 149, 21);
    text-emphasis: underline;
    cursor: pointer
}
.home {
    position: relative;
    left: 20px
}
.menu {
    position: relative;
    left: 40px
}
.articles {
    position: relative;
    left: 60px
}
.about {
    position: relative;
    left: 80px
}
.header {
    text-align: center;
    color: white
}
.subhead {
    text-align: center;
    color: white
}
body {
    background-color: rgb(31, 8, 2);
}
div {
    margin: 30px;
    color: white
}
.birds {
    float: left;
    margin: 20px;
    height: 400px
}
p {
    position: relative;
    color: white
}
.lorem, .oct30 {
    text-align: right;
}
.city {
    float: right;
    margin: 20px;

}