h1 {
    text-align: center;
}

form {
    text-align: center;
}

input {
    width: 40px
}

div {
    text-align: center;
}

footer {
    text-align: center;
}

img {
    width: 40px
}

button {
    margin-top: 20px
}