/* .headerBox {
    background-color: black;
    text-align: center
}

.header {
    color: white
}

.buttonBox {
    text-align: center;
} */


.dark {
    color: white;
    background-color: black
}