.headline{
    color: darkgreen;
}
h1, h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center
}
p{
    line-height: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline
}
.also{
    text-transform: uppercase
}
img{
    float: left;
    margin: 20px;
    width: 40%
}
