@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

* {
    margin: 0
}

body {
    color: #325050;
    font-family: 'Libre Baskerville', sans-serif;
}

u {
    text-decoration: dotted underline;
}

a {
    text-decoration: none;
    color: rgb(88, 141, 172)
}

a:hover {
    text-decoration: underline;
}

.header {
    width: 100%;
    height: 249px;
    background-attachment: fixed, fixed, scroll;
    background-image: url(http://www.csszengarden.com/214/contours.png), url(http://www.csszengarden.com/214/gridlines.png), url(http://www.csszengarden.com/214/huntington.jpg);
    background-size: auto, auto, cover;
    background-repeat: repeat, repeat, no-repeat;
    /* margin-top: 10px solid #1a5952; doesn't work */
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}

.header > h1 {
    font-weight: lighter;
    margin-top: 10px;
    font-size: 1.78em;
    font-family: "Julius Sans One", sans-serif;
}

.header > h2 {
    font-style: italic;
    opacity: .6;
    font-weight: lighter;
    padding: 10px;
    font-size: 1.2em
}

.enso {
    width: 50px;
    margin: auto;
    padding-top: 30px;
    display: block;
    opacity: .6
}

nav {
    background-color: rgba(255, 255, 255, 0.158);
    height: 120px;
    margin-top: 10px;
}

.nav-hover {
    color: white;
    opacity: .6;
    font-weight: 100;
    padding-top: 30px;
    width: 72%;
    margin: auto;
    height: 50px;
    transition: .5s
}

.nav-hover:hover {
    background-color: rgba(255, 255, 255, 0.247);
    opacity: .9;
    cursor: pointer
}

.download {
    display: none
}

.downloadables {
    color: rgb(152, 170, 70);
    font-family: "Julius Sans One", sans-serif;
    transition: .3s;
    padding: 6px
}

.downloadables:hover {
    background-color: darkcyan;
    color: white;
    text-decoration: none;
}

.first-part, .green-background, .third-part {
    margin: 30px;
    padding: 20px;
    font-weight: 100;
    line-height: 20pt;
    margin-top: 1px
}

.para {
    margin-top: 10px;
    font-size: 10pt
}

.sections {
    margin: 10px 0px 10px 0px;
    font-weight: 100;
    font-size: 15pt;
    font-family: "Julius Sans One", sans-serif
}

.green-background {
    background-color: rgba(138, 188, 159, 0.5);
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    background-image: url(http://www.csszengarden.com/214/contours.png), url(http://www.csszengarden.com/214/gridlines.png), url(http://www.csszengarden.com/214/bamboo.png);
    background-attachment: scroll, scroll, fixed;
    background-size: auto, auto, cover
}

footer {
    text-align: center
}

.by {
    color: white;
    padding: 20px;
    background-image: url(http://www.csszengarden.com/214/contours.png), url(http://www.csszengarden.com/214/gridlines.png), url(http://www.csszengarden.com/214/koi.jpg);
    background-attachment: fixed, fixed, scroll;
    background-size: auto, auto, cover;
    height: 180px;
}

.by > p > a {
    color: white;
    opacity: .6;
}

.by > p > a:hover {
    cursor: pointer;
}

.by > p {
    margin-top: 40px;
    font-size: 17pt;
    line-height: 31pt;
}

i {
    opacity: .3;
}

.buttons {
    height: 120px;
    background-color: #134347;
}

.others {
    height: 320px;
    background-color: rgb(233, 242, 238);
    margin-left:-94px;
    padding-left: 90px
}

#the-break {
    display: none
}

.others-list, .resource-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5%
}

li {
    list-style: none;
}

.other-item {
    height: 60px;
    border-top: solid lightgrey 1px;
    width: 100%;
    padding: 20px 0 5px 0;
}

#other-item-one {
    border-top: none
}

.titles, .resource {
    text-transform: uppercase;
    color: rgb(141, 140, 140);
    font-family: "Julius Sans One", sans-serif;
    font-style: normal;
    font-weight: 100;
    transition: .5s
}

.titles:hover {
    color: darkcyan;
    text-decoration: none;
}

.names {
    color: rgb(94, 94, 94);
    font-weight: 900;
    transition: .5s;
    font-size: .8em;
}

.names:hover, .resource:hover {
    color: darkcyan;
    text-decoration: none;
}

.resources {
    height: 154px;
    background-color: rgba(138, 188, 159, 0.5);
    border-top: solid darkcyan 1px;
    margin-left: -94px
}

.resource-item {
    padding: 15px 0 15px 90px;
    border-bottom: solid rgb(182, 182, 182) 1px;
}

#last-resource {
    border-bottom: none
}



@media only screen and (min-width: 500px){
    /* .enso {
        padding-top: 100px;
        margin-left: 25%;
        position: absolute
    } */

    .header > h1 {
        position: relative;
        margin: auto;
    }

    .header > h2 {
        position: relative;
        margin: auto
    }
}

@media only screen and (min-width: 600px){
    .enso {
        width: 80px;
    }
}

@media only screen and (min-width: 1130px){
    body {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .download {
        display: block
    }
    
    .sections {
        font-size: 2em;
    }

    header {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    header > nav {
        grid-column: 2 / 3;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        margin: 0;
    }

    .nav-hover {
        margin-top: 80px;
        color: white;
        font-size: 17pt;
        background-color: rgba(255, 255, 255, 0.404);
    }

    .nav-hover:hover {
        background-color: rgba(255, 255, 255, 0.4);
        color: white
    }

    .first-part {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 40px;
        margin-left: 100px;
    }

    .green-background {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        padding-left: 118px;
        margin: 0;
        
    }

    .third-part {
        grid-column: 1 / 2;

        margin-left: 96px;
    }

    .para {
        font-size: 1.0em;
        line-height: 24pt;
    }

    .by {
        height: 290px
    }

    .by > p {
        font-size: 2.0em;
        padding: 120px;
        margin-top: -32px;
        line-height: 48pt;
    }

    .others {
        grid-column: 2 / -1;
        grid-row: 2 / 3;
        height: 100%;
        background-color: rgba(223, 234, 228, 0.7);
        font-size: 1.2em;
        padding-top: 50px;
        margin: 0;
        padding: 0;
    }

    .other-item {
        padding: 22px 0 16px 0
    }

    #the-break {
        display: block
    }

    .others-list {
        display: block;
        margin-left: 30px
    }

    footer {
        grid-column: 1 / -1
    }

    .resources {
        grid-column: 2 / -1;
        grid-row: 3 / 4;
        height: 100%;
        background-color: rgba(138, 188, 159, 0.6);
        margin-left: 0;
        background-image: url(http://www.csszengarden.com/214/contours.png), url(http://www.csszengarden.com/214/gridlines.png), url(http://www.csszengarden.com/214/bamboo.png);
        background-attachment: scroll, scroll, fixed;
        background-size: auto, auto, cover
    }

    .resource-list {
        display: block;
        padding: 0;
        margin: 0
    }

    .resrouce {
        padding-left: 0
    }

    .extra-box {
        background-color: rgba(223, 234, 228, 0.7);
        grid-column: 2 / -1;
        margin-top: -21px
    }
}